*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}




header{
    background-color: rgb(123, 44, 196);
    padding: 10px 0;
}

h1{
    text-align: center;
    color: white;
}



.main {
    height: 80vh;
    padding-top: 40px;
}

.popup {
    width: 100%;
    max-width: 370px;
    height: 0;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    visibility: hidden;
    transition: 1s;
    overflow-y: hidden;
}

.popup-show{
    height: 120px;
    visibility: visible;
}


.popup h2 {
    padding: 10px 0 15px 0;
    color: rgb(123, 44, 196);
}

.popup button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(123, 44, 196);
    color: white;
}



.board {
    width: 370px;
    margin: 20px auto;
}

.square {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: antiquewhite;
    position: relative;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row .active {
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: cover;
}



footer {
    background-color: rgb(123, 44, 196);
    text-align: center;
    font-size: 1.4em;
    padding: 5px 0;
    color: white;
}

footer i{
    font-size: 1.8em;
    margin: 10px 10px 0px 10px;
    color: white;
}